/*-- scss:defaults --*/
$primary:#1082a1;
$secondary: #1492a8;
$input-border-radius: 0;
// $breadcrumb-bg: #1082a1;


// Para consulta futura
// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
// );


/* css styles */

/* NAVBAR */

nav .navbar-logo{
  height: 100px !important;
  width: 100px !important;
  max-height: none;
  border-radius: 50%;
  object-fit: cover
}

/* navbar gradient background color */
nav.navbar{
  background-image: linear-gradient(90deg,#1492a8 5%,#1082a1);
}

/* hide button that shows sidebar while in mobile mode */
button.quarto-btn-toggle.btn  {
  display: none;
}



/* SIDEBAR */

.sidebar{
  /* sidebar shadow */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* gap between sidebar items */
ul.list-unstyled.mt-1 {
  display: grid;
  gap: 20px;
  padding-bottom: 100px !important;
}

.sidebar-section {
  padding-left: 0em;
  padding-bottom: .2em;
}

/* custom active item style */
.sidebar-item-container:has(.sidebar-item-text.active) {
  background-color: #56acbb;
  border-color: #1082a1;
  border-right-width: 4px;
  border-right-style: solid;
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.sidebar-item .sidebar-section{
  background-color: #98d7e2d2; 
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
  border-radius: 5%;
}


.sidebar-item-text[data-bs-toggle="collapse"]{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}


.sidebar-item-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

}

/* custom section arrow size */
i.bi.bi-chevron-right.ms-2{
  font-size: 18px;
}

/* custom section icon size */
.sidebar-item-container .menu-text i {
  font-size: 20px; 
}

/* custom section text size */
.sidebar-item-container .menu-text {
  font-size: 20px; 
}

.sidebar-item-toggle{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.sidebar.sidebar-navigation>* {
  padding-top: 3em;
}

.sidebar-navigation {
  padding-left: 0;
}

#quarto-sidebar>* {
  padding-right: 0em;
}


li.sidebar-item {
  padding-left: 0em; 
}

li.sidebar-item.sidebar-item-section > ul > li.sidebar-item {
  padding-left: .5em; 
}


li.sidebar-item.sidebar-item-section > ul > li.sidebar-item.sidebar-item-section > ul > li.sidebar-item {
  padding-left: .5em; 
}



/* BREADCRUMB */

ol.breadcrumb li.breadcrumb-item:first-of-type a{
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}

.breadcrumb {
  --bs-breadcrumb-padding-x: 0rem;
  font-size: .875rem;
  font-weight: 500;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.quarto-title-breadcrumbs .breadcrumb li:last-of-type i{
  display: none;
}



/* BODY */

.content{
  text-align: justify;
  hyphens: auto;
}


body{
  background-color: rgba(243, 244, 246, 1);
}


.page-navigation .nav-page .pagination-link span.nav-page-text i{
  display: none;
}




/* FOOTER */

.footer-items{
  gap: 10px;
  flex-direction: column !important;
  text-align: start;
}

footer.footer .nav-footer{
  border-top-left-radius: .9rem !important;
  border-top-right-radius: .9rem !important;
}

.nav-footer{
  padding-bottom: 0em;
}


.nav-footer-left{
  padding-left: 50px;
}


/* CUSTOM ICONS */

.bi-gov::before {
  display: inline-block;
  content: "";
  background-image: url("./files/images/participants/CNPq_v2017_rgb_neg.png");
  background-size: contain; 
  background-repeat: no-repeat;
  width: 140px;  
  height: 40px;  
}


.bi-ifba::before {
  display: inline-block;
  content: "";
  background-image: url("./files/images/participants/MARCA_IFBA_HORIZONTAL_completa_negativaBRANCA_IFBA.png");
  background-size: contain; 
  background-repeat: no-repeat;
  width: 190px;  
  height: 80px;  
}

.bi-ufrb::before {
  display: inline-block;
  content: "";
  background-image: url("./files/images/participants/UFRB-Vertical_branca.png");
  background-size: contain; 
  background-repeat: no-repeat;
  width: 160px;  
  height: 80px;  
}



/* rules at mobile mode */
@media (max-width: 992px) {

  .bi-gov::before {
      width:  120px;   
  }

  .bi-ifba::before{
      width:  150px;  
  }

  .bi-ufrb::before{
      width:  140px;  
  }

  .nav-footer-left{
      padding-left: 0px !important;
  }

  footer.footer .nav-footer, #quarto-header>nav {
      padding-left: 1em;
      padding-right: 0em;
  }
}

button.categoria{
    padding: .25em .75em;
    font-size: .80em;
    text-transform: uppercase;
    border: solid 1px;
    border-radius: .25rem;
    margin-right: 6px !important;
    margin-bottom: 10px !important;
  }

  button.categoria.active{
    padding: .25em .75em;
    background: darkcyan;
    color: white;
    border-color: black !important;
    font-size: .80em;
    text-transform: uppercase;
    border: solid 1px;
    border-radius: .25rem;
    margin-right: 6px !important;
    margin-bottom: 10px !important;
  }


  div.values-container >button.active{
    padding: .25em .75em;
    background: darkcyan;
    color: white;
    border-color: black !important;
    font-size: .80em;
    text-transform: uppercase;
    border: solid 1px;
    border-radius: .25rem;
    margin-right: 6px !important;
    margin-bottom: 10px !important;
  }

  div.values-container> button {
    margin-right: 6px !important;
    padding: .25em .75em;
    font-size: .80em;
    text-transform: uppercase;
    border: solid 1px;
    border-radius: .25rem;
    margin-right: 6px !important;
  }

  .card {
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: start;
    min-height: 150px !important;
  }

  .card-title {
    display: inline-block;
    font-size: 1.30em; 
    font-weight: bold; 
    margin-top: 0.5rem;
    color: inherit; 
  }

  .scroll-categorias {          
    overflow-x: auto;          
    white-space: nowrap;       
    width: 100%;               
  }