/*-- scss:defaults --*/
$primary:darkcyan;
$secondary: cadetblue;
$input-border-radius: 0;
$breadcrumb-bg: rgb(95, 158, 160);


// Para consulta futura
// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
// );